doctype html 
html 
    head
        meta(charset="UTF-8")
        title 404
        link(rel="stylesheet" href="/css/main.css")
    body 
        #bodywrap 
            h1#msg404 404 - Content not found 
            p Couldn't find #{location}