doctype html 
html 
    head
        meta(charset="UTF-8")
        title 500
        link(rel="stylesheet" href="/css/main.css")
    body 
        #bodywrap 
            h1#msg500 500 - Server failure
            p Something went wrong with #{location}